/* borrowed from http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ */
@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
body{
    text-rendering: optimizeLegibility;
    font-feature-settings: kern;
    font-size: 19px;
    color: #222;
}
p{
    font-family: Cardo, "Times New Roman", Times, serif;
    line-height: 1.5em;
}
h1{
    font-family: Lora, serif;
    font-size: 3.8em;
    font-weight: 400;
}
a{
    font-family: Lora, serif;
    text-decoration: none;
    font-style: italic;
    color: #666;
    font-size: 0.9em;
}
.navlinks{
    list-style-type: none;
    position: absolute;
    top: 15%;
}
.navdiv{
    position: fixed;
    height: 100%;
    width: 250px;
    left: -220px;
    background: #fff;
    box-shadow: 1px 0 12px -1px rgba(70,70,70,0.5);
    z-index: 2;
    //border-right: 2px solid #111;
    //background: gray;
}
.navlinks li a{
    font-family: Cardo, serif;
    // font-weight: bold;
    font-size: 28px;
    font-style: normal;
    display: block;
    text-decoration: none;
    color: #252525;
    transition: color .4s;
}
.navlinks li a:hover{
    color: #707070;
}
.contentdiv{
    display: inline-block;
    left: 0px;
    margin: 100px 320px 100px 320px;
}
