/* Body Styles */

body{
    text-rendering: optimizeLegibility;
    font-feature-settings: kern;
    font-size: 19px;
    color: #222;
}
p{
    font-family: Cardo, "Times New Roman", Times, serif;
    line-height: 1.5;
}
h1{
    font-family: Lora, serif;
    font-size: 3.8em;
    font-weight: 400;
}
a{
    font-family: Lora, serif;
    text-decoration: none;
    font-style: italic;
    color: #666;
    font-size: 0.9em;
    outline: 0;
}
.contentdiv{
    display: inline-block;
    left: 0px;
    margin: 9% 10% 9% 5%;
    width: 35em;
}

/* Navigation Bar Styles */

li{
    list-style-type: none;
    text-decoration: none;
}
.navlinks{
    position: absolute;
    top: 20%;
}
.navdiv{
    position: fixed;
    height: 100%;
    width: 250px;
    right: 0%;
    background: #2F3437;
    color: #000;
    box-shadow: 1px 0 12px -1px rgba(70,70,70,1);
    z-index: 2;
    //border-right: 2px solid #111;
    //background: gray;
}
.menulabel {
    position: absolute;
    color: #888;
    font-family: Lato, serif;
    font-weight: 100;
    letter-spacing: 0.1em;
}
.navlinks li a{
    font-family: Lato, serif;
    line-height: 1.6;
    font-weight: 100;
    letter-spacing: 0.05em;
    font-size: 1.48em;
    font-style: normal;
    display: block;
    color: #ccc;
    transition: color .4s;
}
.navlinks li a:hover{
    color: #fff;
}


